.panel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 15px 25px 0;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}