.new .message__count{
  display: flex !important;
}
.message__count{
  display: none;
  width: 22px;
  height: 22px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--blue);
  border-radius: 50%;
  font-size: 12px;
  padding-left: 1px;
  line-height: 1;
  margin-top: 10px;  
}
